body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
header {
  background-color: #004d25;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  height: 5vh;
  width: 99%;
}

header h1 {
  margin: 0;
}

header h1 a{
  text-decoration: none;
  color: #fff;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 20px;
}
nav a:hover{
  opacity: 0.7;
}

main {
  height: 90vh;
}
main h2{
  margin-left: 0;
  padding: 1em;
}
#news-section article{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1em;
  margin-bottom: 2em;
  width: 60%;
  
  transition: all 0.5s;
}

#news-section article h3{
  transition: all 0.3s;
}

#news-section article img{
  height: 100%;
  transition: all 0.3s ease-in-out;
}

.text-wrapper{
  padding-left: 2em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

footer {
  background-color: #004d25;
  color: #fff;
  padding: 20px;
  text-align: center;
  height: 5vh;
}

@media(max-width: 768px){
  main{
    height: 100%;
  }

  #news-section{
    width: 100%;
  }

  #news-section article{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  footer{
    display: none;
  }
}